<h1>Answer</h1>

<!-- Retourner question posee -->
<h2>Question Asked</h2>
<%= @question %>

<!-- Retourner reponse coach -->
<h2>Coach Answer</h2>
<%= @answer %>

<h3><%= link_to "Ask a new question", ask_path %></h3>
